// First Division



.first-div {
    height: 100vh;
    width: 100%;
    background: {
        image: url("../images/firstDiv/section_1_back_landscape.jpg");
        size: cover;
        repeat: no-repeat;
        position: center;
    };

    .nav-space {
        width: 100%;
        height: 13vh;
    }

    .container {
        width: 100%;
        height: 87vh;
        display: grid;
        grid-template-columns: repeat(2,1fr);
    }

}

    


// Left Section


.left-sec {
    width: 100%;
    @include display-flex();
    flex-direction: column;
    justify-content: flex-end;

    .robotic {
        position: relative;
        max-height: 100%;
        min-height: 42vw;

        .robo-hand {
            @include robo(0,0,94%,50);
        }

        .index-circle {
            @include robo(78.5%,82%,18%,40);
        }

        .quadrilateral {
            @include robo(16%,56%,38%,40);
        }

        .thumb-circle {
            @include robo(51%,22%,25%,40);
        }

        .striped {
            @include robo(10%,42%,23%,40);
        }
    }
}







// Animations

.translate-robo {
    -webkit-animation: move-right .6s ease-in;
    animation: move-right .6s ease-in;
}

@-webkit-keyframes move-right {
    from {
        opacity: 0;
        @include transform(translateX(-100%));
    }

    to {
        opacity: 1;
        @include transform(translateX(0));
    }
}

@keyframes move-right {
    from {
        opacity: 0;
        @include transform(translateX(-100%));
    }

    to {
        opacity: 1;
        @include transform(translateX(0));
    }
}

.zoom-index {
    -webkit-animation: zoom 2.4s ease;
    animation: zoom 2.4s ease;
}

@-webkit-keyframes zoom {
    0% {
        opacity: 0;
    }

    65% {
        width: 0;
        opacity: 0;
    }

    100% {
        width: 18%;
        opacity: 1;
    }
}

@keyframes zoom {
    0% {
        opacity: 0;
    }

    65% {
        width: 0;
        opacity: 0;
    }

    100% {
        width: 18%;
        opacity: 1;
    }
}

.rotate-quad {
    -webkit-animation: rotate-quad 2.4s ease-in;
    animation: rotate-quad 2.4s ease-in;
}

@-webkit-keyframes rotate-quad {
    0% {
        opacity: 0;
    }

    28% {
        opacity: 0;
        @include transform(rotate(-24deg) translateX(-10%));
}

    75% {
        opacity: 1;
        @include transform(rotate(0deg) translateX(0));
    }
}

@keyframes rotate-quad {
    0% {
        opacity: 0;
    }

    28% {
        opacity: 0;
        @include transform(rotate(-24deg) translateX(-10%));
}

    75% {
        opacity: 1;
        @include transform(rotate(0deg) translateX(0));
    }
}

.translate-thumb {
    -webkit-animation: move-up 2.4s ease-in;
    animation: move-up 2.4s ease-in;
}

@-webkit-keyframes move-up {
    0% {
        opacity: 0;
    }

    25% {
        opacity: 0;
        @include transform(translateY(30%));
    }

    60% {
        opacity: 1;
        @include transform(translateY(0));
    }
}

@keyframes move-up {
    0% {
        opacity: 0;
    }

    25% {
        opacity: 0;
        @include transform(translateY(30%));
    }

    60% {
        opacity: 1;
        @include transform(translateY(0));
    }
}

.rotate-fade-strip {
    -webkit-animation: rotate-fade 2.4s ease-in;
    animation: rotate-fade 2.4s ease-in;
}

@-webkit-keyframes rotate-fade {
    0% {
        opacity: 0;
    }

    55% {
        opacity: 0;
        @include rotate(22);
    }

    90% {
        opacity: 1;
        @include rotate(0);
    }
}

@keyframes rotate-fade {
    0% {
        opacity: 0;
    }

    55% {
        opacity: 0;
        @include rotate(22);
    }

    90% {
        opacity: 1;
        @include rotate(0);
    }
}




// Right Section


.right-sec {
    width: 100%;
    @include display-flex();
    justify-content: flex-start;
    align-items: center;

    .title {
        margin-left: 4em;

        h1 {
            font-family: $ff-anonymous;
            font-weight: 700;
            color: $white-minor;
            font-size: 8em;
            text-transform: uppercase;
            margin: 0;
        }

        .typed {
            display: block;
            font-family: $ff-josefin;
            font-weight: 400;
            color: $white-minor;
            font-size: 2em;
            margin: .3em 0;
        }


        // Explore Button


        .explore {
            margin-top: 3.8em;
            display: inline-block;
            text-decoration: none;
            color: $white-minor;
            background-color: $red-pink;
            font-size: 1.1em;
            font-weight: 600;
            font-family: $ff-open;
            padding: 8px 24px 10px 34px;
            border-radius: 1.4em;
            position: relative;

            .down {
                position: absolute;
                top: 1.25em;
                @include translate(-70%, -50%);
            }

            &:hover>.down {
                -webkit-animation: up-down .8s linear infinite;
                animation: up-down .8s linear infinite;
            }
        }


        // Notices button link


        .notices {
            margin-top: 10px;
            margin-bottom: 2.5em;
            display: inline-block;
            text-decoration: none;
            color: $red-pink;
            background-color: $white-minor;
            font-size: 1.1em;
            font-weight: 600;
            font-family: $ff-open;
            padding: 4px 5px 10px 34px;
            border-radius: 1.4em;
            opacity: .7;
            position: relative;
            @include notice-blink;

            .before {
                display: inline-block;
                @include notice-blink;
            }

            .after {
                display: none;
                @include notice-blink;
            }

            .imp {
                font-size: 2em;
                margin-bottom: -.18em;
            }

            &:hover>.imp {
                -webkit-animation: rotate 1.4s linear infinite;
                animation: rotate 1.4s linear infinite;
            }
        }

        .blink {
            -webkit-animation: blink 2.4s linear infinite;
            animation: blink 2.4s linear infinite;
            
            img {
                position: absolute;
                height: 150px;
                @include transform(scaleY(-1) rotate(45deg));
                bottom: -60px;
                right: -155px;
            }
        }

        .nopop {
            img {
                display: none;
            }

            &:hover>span.before {
                display: none;
                @include notice-blink;
            }

            &:hover>span.after {
                display: inline-block;
                @include notice-blink;
            }
        }
    }
}


// Keyframes for all the animations used above


@-webkit-keyframes blink {
    0% {
        opacity: .1;
    }

    30% {
        opacity: 1;
    }

    50% {
        opacity: 1;
    }

    70% {
        opacity: .6;
    }

    100% {
        opacity: .1;
    }
}

@keyframes blink {
    0% {
        opacity: .1;
    }

    30% {
        opacity: 1;
    }

    50% {
        opacity: 1;
    }

    70% {
        opacity: .6;
    }

    100% {
        opacity: .1;
    }
}

@-webkit-keyframes rotate {
    from {
        @include rotate(0);
    }

    to {
        @include rotate(360);
    }
}

@keyframes rotate {
    from {
        @include rotate(0);
    }

    to {
        @include rotate(360);
    }
}

@-webkit-keyframes up-down {
    0% {
        @include translate(-70%, -50%);
    }

    20% {
        @include translate(-70%, -30%);
    }

    85% {
        @include translate(-70%, -60%);
    }

    100% {
        @include translate(-70%, -50%);
    }
}

@keyframes up-down {
    0% {
        @include translate(-70%, -50%);
    }

    20% {
        @include translate(-70%, -30%);
    }

    85% {
        @include translate(-70%, -60%);
    }

    100% {
        @include translate(-70%, -50%);
    }
}





/* Responsive section */


@media only screen and (max-width: 768px) {
    .first-div {
        background-image: url("../images/firstDiv/section_1_back_portrait.jpg");
    }
}

@media only screen and (max-width: 436px) {}




















// About Section



.about-div {
    width: 100%;
    height: 100vh;
    background: linear-gradient(
        #a0a6b3,
        #dcdbda,
        #e0e0e0,
        $background-1,
        $background-1 50vh,
        $background-2 50vh
    );
    @include flex-centered();
}
.about-div h1{
    font-family: $ff-anonymous;
    font-size: 6em;
}




















// Gallery



.gallery-div {
    width: 100%;
    height: 100vh;
    background: linear-gradient(
        $background-1 50vh,
        $background-2 50vh
    );
    @include flex-centered();
}
.gallery-div h1{
    font-family: $ff-anonymous;
    font-size: 6em;
}



















// Event Section



.event-div {
    width: 100%;
    height: 100vh;
    background: linear-gradient(
        $background-1 50vh,
        $background-2 50vh
    );
    @include flex-centered();
}
.event-div h1{
    font-family: $ff-anonymous;
    font-size: 6em;
}




















// Project Section



.project-div {
    width: 100%;
    height: 100vh;
    background: linear-gradient(
        $background-1 50vh,
        $background-2 50vh
    );
    @include flex-centered();
}
.project-div h1{
    font-family: $ff-anonymous;
    font-size: 6em;
}