.navBar{
    width: 88%;
    padding: 0 6%;
    height: 13vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navBar-brand{
    display: flex;
}

.svnit-logo{
    /* display: none; */
    height: 57px;
    width: auto;
}

a.drishti-contain{
    padding-top: 0.5vh;
    padding-left: 14px;
}

.drishti-logo{
    height: 54px;
    width: auto;
}

.navBar-menu{
    display: flex;
    justify-content: center;
    align-items: center;
}

.navBar-menu a{
    text-decoration: none;
    font-size: 1em;
    font-weight: 600;
    color: $white-nav;
    border-bottom: 0.16em solid transparent;
    font-family: $ff-lato-open;
    padding: 0.25em 10px;
    margin-left: 35px;
    text-transform: uppercase;
    transition: 0.3s ease;
}

.navBar-menu a:hover{
    border-bottom: 0.16em solid $red-pink;
    color: $red-pink-light;
    transition: all 0.25s ease;
}