.navBar {
    width: 88%;
    padding: 0 6%;
    height: 13vh;
    display: flex;
    align-items: center;
    justify-content: space-between;

    &-brand{
        display: flex;
    }
}


.svnit-logo {
    /* display: none; */
    height: 57px;
    width: auto;
}

.drishti{
    &-contain {
        padding-top: .5vh;
        padding-left: 14px;
    }
    
    &-logo {
        height: 54px;
        width: auto;
    }
}



.navBar-menu {
    @include flex-centered;

    a {
        text-decoration: none;
        font-size: 1em;
        font-weight: 600;
        color: $white-major;
        border-bottom: .16em solid transparent;
        font-family: $ff-lato-open;
        padding: .25em 10px;
        margin-left: 35px;
        text-transform: uppercase;
        @include transition(.3s ease);

        &:hover {
            border-bottom: .16em solid $red-pink;
            color: $red-pink-light;
            @include transition(all .25s ease);
        }
    }
}
