.first-div {
    height: 100vh;
    width: 100%;
    background-image: url("../images/firstDiv/section_1_back_landscape.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

@media only screen and (max-width: 768px) {
    .first-div {
        background-image: url("../images/firstDiv/section_1_back_portrait.jpg");
    }
}